header, section, aside, article, figure, figcaption {
    display: block;
    }
    

body {
    color: #000000;
    background-image: linear-gradient(#76adaa,#ffffff);
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.4em;
    margin: 0px;
}

.wrapper {
    width: 1080px;
    margin: 20px auto 20px auto;
}

header {
    height: 160px;
    background-color: rgb(169, 160, 160);
    border: 2px solid #000000;
}

h1 {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight:600;
    width: 960px;
    height: 130px;
    margin-left: 425px;
}

section.courses {
    float: left;
    width: 480px;
}
    
article {
    clear: both;
    overflow: auto;
    width: 100%:
}

hgroup {
    margin-top: 40px;
}
    
figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 30px 30px 30px 30px;
    margin: 20px;
}
    
.item1 {
  grid-column-end: 2;
}

figcaption {
    font-size: 80%;
    text-align: left;
}
    
aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}
    
aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}
    
.column1of2 {
    float: left;
    width: 485px;
    margin: 10px;
}

.column2of2 {
    float: left;
    width: 300px;
    margin: 10px;
}

h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
    }
h3 {
    margin: 0px 0px 10px 0px;
    color: #000000;
    }
    
aside h2 {
    padding: 30px 0px 10px 0px;
    color: #000000;
    }
            
p {
    font-size: 14px;
    line-height: 1.4em;
    width: 480px;
    padding: 10px;
}

.intro {font-weight: bold;}

ol {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight:300;
    list-style-position: outside;
}

footer {
    margin-left: auto;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

ul {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight:300;
    ul style="list-style-type:none;"
}
